{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block metakeywords %}

{% endblock %}

{% block metadescription %}

{% endblock %}

{% block title %}


{% endblock %}

{% block header %}
    {% include 'includes/header.html' %}
{% endblock %}

{% block content %}
    
    <div class="container-fluid">
        <div class="row vh-75">
            {% if messages %}
                
                {% for message in messages|slice:":1" %}
                    
                <div class="offset-1 col-10 col-md-6 offset-md-3 mt-5">
                    <section>
                        <div class="alert alert-{% if message.level == 25 %}success{% elif message.level == 40 %}danger{% else %}info{% endif %} alert-dismissible fade show" role="alert">
                            {{ message.message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </section>
                </div>
                {% endfor %}
            {% endif %}
            
            <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4 mt-{% if messages %}2{% else %}5{% endif %} my-auto">
                <form method="POST">

                    {% csrf_token %}

                    {{ form|crispy }}
                    <label><input type="checkbox" class="custom-checkbox" name="remember">&nbsp;Remember me</label>
                    <button type="submit" class="btn btn-danger w-100">Login</button>
                    <div class="form-row mt-3">

                        <h6 class="col text-center"><a href="{% url 'password_reset' %}" class="plain text-dark">Forgot Password?</a></h6>
                    </div>
                    <div class="form-row ">
                        <p class="col text-center">Don't have an account? <a href="{% url 'account:signup' %}" class="plain text-dark">Signup</a></a>
                    </div>

                </form>

            </div>
        </div>

{% endblock %}