{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block metakeywords %}

{% endblock %}

{% block metadescription %}

{% endblock %}

{% block title %}
Register - 
{% endblock %}

{% block content %}
{% include 'includes/header.html' %}
<div class="container-fluid">
	<div class="row vh-75">
		<div class="col-12 col-md-6 offset-md-3 mt-5 my-auto">
			
			<form method="POST">
		        {% csrf_token %}
		        

				<div class="form-group my-0">
					<div class="form-row">
						<div class="col-12 col-lg-6">
							<label for="id_first_name" class="col-form-label">
								First name<span class="text-danger">*</span>
							</label>
							<div class="">
								<input type="text" name="first_name" maxlength="100" class="textinput textInput form-control" required="" id="id_first_name" value="{{ form.first_name.value|default:"" }}" placeholder="First name">
							</div>
						</div>

						<div class="col-12 col-lg-6">
							<label for="id_last_name" class="col-form-label">
		                		Last name<span class="text-danger">*</span>
		                	</label>

		                	<div class="">
		                		<input type="text" name="last_name" maxlength="100" class="textinput textInput form-control" required="" id="id_last_name" value="{{ form.last_name.value|default:"" }}" placeholder="Last name">
		                	</div>
		                </div>
	                </div>
				</div>

                <div class="form-group my-0">
                	<label for="id_username" class="col-form-label">
                		Username<span class="text-danger">*</span>
                	</label>

                	<div class="">
                		<input type="text" name="username" maxlength="100" class="textinput textInput form-control" required="" id="id_username" placeholder="Username">
                	</div>
                </div>

                <div class="form-group my-0">
                	<label for="id_email" class="col-form-label  requiredField">
                		Email<span class="text-danger">*</span>
                	</label>
                	<div class="">
                		<input type="email" name="email" class="emailinput form-control" required="" id="id_email" value="{{ form.username.value|default:"" }}" placeholder="Email Address">
                	</div>
                </div>

				<div class="form-group my-0">
					<div class="form-row">
						<div class="col-12 col-lg-6">
							<label for="id_password" class="col-form-label">
                				Password<span class="text-danger">*</span>
                			</label>

		                	<div class="">
		                		<input type="password" name="password" maxlength="100" class="textinput textInput form-control" required="" id="id_password" placeholder="New Password">
		                	</div>
						</div>

						<div class="col-12 col-lg-6">
							<label for="id_confirm_password" class="col-form-label">
                				Confirm password<span class="text-danger">*</span>
                			</label>

		                	<div class="">
		                		<input type="password" name="confirm_password" maxlength="100" class="textinput textInput form-control" required="" id="id_confirm_password"placeholder="Confirm Password">
		                	</div>
		                </div>
	                </div>
				</div>

				<div class="form-group mb-2 mt-3">
					<div class="">
						<input type="checkbox" name="term" id="is_agree">&nbsp;I accept the <a href="#" class="plain">Terms of Use</a> & <a href="#" class="plain">Privacy Policy</a>
					</div>
				</div>
				<div class="form-group my-3">
		        	<button type="submit" id="register_btn" class="btn btn-danger rounded-0 col-12 ">
		        		Register
		        	</button>
		        </div>

		        <div class="form-group my-3 text-center">
		        	Already have an account? <a href="{% url 'login' %}" class="plain">Login</a>
		        </div>
		    </form>		    
		</div>

		<div class="col">
			
			{% if form.password.errors %}
				{% for error in form.password.errors %}
				<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
					<div class="toast-header">
						<img src="#" height="12px" width="12px" />
						<strong class="mr-auto">ShipEast</strong>
						<small>11 mins ago</small>
						<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				
					<div class="toast-body">
						{{error}}
					</div>
				</div>
				{% endfor %}
			{% endif %}
			
			{% if form.confirm_password.errors %}
				{% for error in form.confirm_password.errors %}
				<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
					<div class="toast-header">
						<img src="#" height="12px" width="12px" />
						<strong class="mr-auto">ShipEast</strong>
						<small>11 mins ago</small>
						<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				
					<div class="toast-body">
						{{error}}
					</div>
				</div>
				{% endfor %}
			{% endif %}
			
			{% if form.first_name.errors %}
				{% for error in form.first_name.errors %}
				<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
					<div class="toast-header">
						<img src="#" height="12px" width="12px" />
						<strong class="mr-auto">ShipEast</strong>
						<small>11 mins ago</small>
						<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				
					<div class="toast-body">
						{{error}}
					</div>
				</div>
				{% endfor %}
			{% endif %}
			
			{% if form.last_name.errors %}
				{% for error in form.last_name.errors %}
				<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
					<div class="toast-header">
						<img src="#" height="12px" width="12px" />
						<strong class="mr-auto">ShipEast</strong>
						<small>11 mins ago</small>
						<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				
					<div class="toast-body">
						{{error}}
					</div>
				</div>
				{% endfor %}
			{% endif %}
			
			{% if form.email.errors %}
				{% for error in form.email.errors %}
				<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
					<div class="toast-header">
						<img src="#" height="12px" width="12px" />
						<strong class="mr-auto">ShipEast</strong>
						<small>11 mins ago</small>
						<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				
					<div class="toast-body">
						{{error}}
					</div>
				</div>
				{% endfor %}
			{% endif %}
			
			{% if form.username.errors %}
				{% for error in form.username.errors %}
				<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
					<div class="toast-header">
						<img src="#" height="12px" width="12px" />
						<strong class="mr-auto">ShipEast</strong>
						<small>11 mins ago</small>
						<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				
					<div class="toast-body">
						{{error}}
					</div>
				</div>
				{% endfor %}
			{% endif %}
			
		
		</div>
	</div>
</div>

{% endblock %}