.header-uper {
    padding: 5px 0px;
}

.header-uper .logo {
    float: left;
  	background: transparent !important;
}

.logo {
    display: inline-block;
}

.header-uper .right-side {
    float: right;
}

.header-uper .contact-info {
    float: left;
}

.plain {
	text-decoration: none !important;
}

.goal {
	max-height: 400px !important;
	height: 100% !important;
}

.asteriskField {
    color: red;
    font-weight: bold;
}

.text-overlay {

  position: absolute;
  bottom: 2px;
  left: 30%;
  right: 30%;
}

.vh-25 {
	min-height: 25vh !important;
	height: 100%;
}

.vh-50 {
	min-height: 50vh !important;
	height: 100%;
}

.vh-75 {
	min-height: 75vh !important;
	height: 100%;
}

.footer-content-top {
	background: #132646 !important;
	padding: 24px 0;
	color: #fff !important;
}

.footer-content-bottom {
	background: #0d1a2f !important;
	padding: 24px 0;
	color: #6c757d !important;
}

.h-100 {
	height: 100vh;
}

footer a {
	color: #fff !important;
}

.item {
    position: relative;
    display: inline-block;
    padding-left: 80px;
    margin-right: 10px;
    padding-bottom: 0px;
}

.icon-box-container  {
	padding: 6px 0;
	position: absolute;
    top: 0px;
    left: 0px;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    text-align: center;
    line-height: 53px;
    border: 1px solid #ff0000 !important;
}

.icon-box-container i {
	position: relative;
	top: -5px;
}

.icon-box-label {
	position: relative;
	top: -5px;
	left: 65px;
}

.icon-box-label a{
	
}

.content-body {
	min-height: 75vh !important;
	height: 100%;
}

.contact.icon-box {
    position: relative;
    top: 0px;
    left: 0px;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    text-align: center;
    line-height: 53px;
    border: 1px solid #ff0000;

}
.item.icon-box {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    text-align: center;
    line-height: 53px;
    border: 1px solid #ff0000;
}

section a .icon-box-*{

}

@media only screen and (max-width: 991px){

	.text-adjust {
		font-size: 14pt !important;
	}

	.header-uper .logo {
	    float: none !important;
	    text-align: center;
	    margin-bottom: 20px;
	    width: 100%;
	    /*background: #6c757d !important;*/
	}

	.header-uper .right-side {
	    float: unset;
	    text-align: center;
	}

	.header-uper .contact-info {
	    padding-left: 0;
	    float: unset;
	    margin-bottom: 10px;
	}


}


/*********************************************
				Sidebar Section 
*********************************************/

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #dc3545;
    color: #fff;
    transition: all 0.3s;
}



#sidebar.active {
    min-width: 250px;
    max-width: 250px;
    float: left !important;
    position: absolute !important;
    left: 0px;
    top: 0px !important;
    z-index: 100 !important;
    /*text-align: center;*/
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
    color: #fff !important;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #dc3545;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #fff;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-decoration: none !important;
}

#sidebar ul li a:hover {
    color: #000 !important;
    background: #fff !important;
}

#sidebar ul li a i {
    margin-right: 10px;
}


#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #c62f3e;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #df4957;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

ul.components li {
    padding: 0 !important;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */


#content {
    width: 100% !important;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {

    #sidebar {
        min-width: 250px;
        max-width: 250px;
        text-align: center;
        color: #fff !important;
        /*margin-left: -80px !important;*/
    }
    
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
        display: none !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}