{% extends 'base.html' %}

{% load static %}
{% block title %}404 | Page not Found{%endblock%}

{% block keywords %}

{% endblock %}

{% block description %}

{% endblock %}

{% block header %}
	{% include 'includes/header.html' %}
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row vh-100">
		<div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4 my-auto">
			<h1 class="d-inline-block align-self-center">
				404 | <small class="text-muted text-uppercase">Page not Found!</small>
			</h1>
		</div>
	</div>
</div>
{% endblock %}
	
