<header class="">
	<nav class="row mt-2 mx-0 p-0">
		<div class="col-12 col-md-4 col-lg-3 text-center text-lg-left">
			<a href="{% url 'sitemap:home' %}" class="justify-content-center">
				<img src="/static/media/plane.png" height="" width="200" class="img-responsive" alt="logo">
			</a>
		</div>
		<div class="col-12 col-md-4 col-lg-6 justify-content-center justify-content-lg-start d-flex mt-2 px-5 px-lg-0">
			<div class="container-fluid mt-2">
				<div class="row">
					<div class="col-12 col-lg-6">
						<section class="row my-2 my-md-0">
							<a href="" class="d-inline-block plain">
								<div class="icon-box-container">
									<i class="fa fa-envelope-o"></i>
								</div>
								<span class="icon-box-label">
									<strong >Email</strong><br/>
									<a href="mailto:support@shipeastcouriers.com" class="plain text-dark ml-4 mt-3">
					            		<span>support@shipeastcouriers.com</span>
					          		</a>
								</span>
							</a>
						</section>
					</div>
					<div class="col-12 col-lg-6 my-2 my-md-0">
						<section class="row mt-2 my-md-0">
							<a href="" class="d-inline-block plain">
								<div class="icon-box-container">
									<i class="fa fa-phone"></i>
								</div>
								<span class="icon-box-label">
									<strong>Call Now</strong><br/>
									<a href="tel:+1 876 891 2375" class="plain text-dark  mt-3">
					            		<span>1876 891 2375</span>
					          		</a>
								</span>
							</a>
						</section>
					</div>
				</div>
			</div>
		</div>

		<div class="col-12 col-md-4 col-lg-3">
			<div class="container-fluid mt-2">
				<div class="row mt-4 my-md-0">
				{% if user.is_anonymous %}
      				<div class="col">
						<a href="{% url 'login' %}" class="btn btn-outline-danger rounded-0 text-uppercase font-weight-bold w-100 mt-2">Log In</a>
					</div>
					<div class="col">
						<a href="{% url 'account:signup' %}" class="btn btn-outline-danger rounded-0 text-uppercase font-weight-bold w-100 mt-2">Sign up</a>
					</div>
				{% else %}
      				<div class="col">
						<a href="{% url 'logout' %}" class="btn btn-outline-danger rounded-0 text-uppercase font-weight-bold w-100 mt-2">Logout</a>
					</div>
				{% endif %}
				</div>
			</div>
		</div>

	</nav>
	
	<nav class="navbar navbar-expand-lg navbar-light bg-danger mt-3 text-uppercase">
		<a class="navbar-brand" href="#"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarNav">
        
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link text-white active" href="{% url 'sitemap:home' %}">Home <span class="sr-only">(current)</span></a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link text-white " href="{% url 'sitemap:about' %}">About</a>
				</li>

				<li class="nav-item">
					<a class="nav-link text-white " href="{% url 'sitemap:guide' %}">How it Works</a>
				</li>

				<li class="nav-item">
					<a class="nav-link text-white " href="{% url 'sitemap:services' %}">Service</a>
				</li>

				<li class="nav-item">
					<a class="nav-link text-white " href="{% url 'sitemap:track_parcel' %}">Track</a>
				</li>

				<li class="nav-item">
					<a class="nav-link text-white " href="{% url 'sitemap:contact' %}">Contact</a>
				</li>
				{% if user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link text-white " href="{% url 'account:dashboard' %}">Dashboard</a>
				</li>
				{% endif %}
			</ul>
    
  		</div>
	</nav>

</header>