<nav id="sidebar">
    <div class="sidebar-header bg-light">
        <a href="{% url 'sitemap:home' %}" class="justify-content-center">
            <img src="/static/media/plane.png" height="" width="200" class="img-responsive" alt="logo">
        </a>
    </div>

    <div class="sidebar-header p-0 my-0">
        <p class="text-center font-weight-bold">Corey Clayton</p>
        <p class="mx-3 my-0">
            <smal>Joined: June 23, 2019</smal>
        </p>

        <p class="mx-3 mt-0 mb-1">
            <small>Your USA address in USA is: </small>
        </p>
        <p class="p-3 bg-light text-dark mx-0 w-100" style="background: #f8d6d9 !important">
            19472 SW 68th Street, Suite KIN11458 Fort Lauderdale, FL 33332
        </p>
    </div>

    <ul class="list-unstyled navbar-nav" style="position: relative; top: -20px;">
        <!--li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-home"></i>
                Home
            </a>
            <ul class="collapse list-unstyled bg-danger" id="homeSubmenu">
                <li>
                    <a href="#">Home 1</a>
                </li>
                <li>
                    <a href="#">Home 2</a>
                </li>
                <li>
                    <a href="#">Home 3</a>
                </li>
            </ul>
        </li-->
        <li class="active">
            <a href="#" >
                Home
            </a>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                Warehouse
            </a>
            <ul class="collapse list-unstyled bg-danger" id="pageSubmenu">
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#">
                Inventory
            </a>
        </li>

        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                Shipment
            </a>
            <ul class="collapse list-unstyled bg-danger" id="pageSubmenu">
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#">
                Orders
            </a>
        </li>
        <li>
            <a href="#">
                Invoices
            </a>
        </li>

        <li>
            <a href="#">
                Settings
            </a>
        </li>
    </ul>

</nav>
