{% extends 'account/base.html' %}

{% load static %}
{% block title %}Dashboard - {%endblock%}

{% block keywords %}

{% endblock %}

{% block description %}
	A
{% endblock %}

{% block sidebar %}
	{# include 'includes/sidebar.html' #}
{% endblock %}

{% block autheader %}
	{% include 'includes/header.html' %}
{% endblock %}

{% block wrapper %}
	
	{% include 'includes/breadcrumb_nav.html' %}
		
	<div class="container-fluid">
		{% if flag %}
		<div class="row">
			<div class="col">
				<div class="modal" tabindex="-1" role="dialog" id="upModal">
					<div class="modal-dialog" role="document">
						<form method="POST" action="">
							{% csrf_token %}
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">User Profile</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							
							<div class="modal-body">
								
								{% include 'account/customer/_formp.html' %}
								
							</div>
							
							<div class="modal-footer">
								<button type="submit" class="btn btn-danger text-uppercase">
									Update
								</button>
							</div>
						</div>
						</form>
					</div>
				</div>

			</div>
		</div>
		{% endif %}
		<div class="row">
			<div class="col-12 col-md-8 col-lg-9 order-last order-lg-first ">
				<section class=" table-responsive table-responsive-sm text-nowrap">
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>
									TID#
								</th>
								<th>
									Courier
								</th>
								<th>
									Merchant
								</th>
								<th>
									Item
								</th>
								<th>
									Status
								</th>
								<th>
									Date
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									1
								</td>
								<td>
									John Doe
								</td>
								<td>
									Shipme
								</td>
								<td>
									Bluetooth Wireless Headset
								</td>
								<td>
									Pickup
								</td>
								<td>
									{% now "M d, Y" %}
								</td>
							</tr>
						</tbody>
					</table>
				</section>
			</div>
			<div class="col-12 col-md-4 col-lg-3 p-2 order-1 mb-5 mb-lg-0">
				
				<section>
					<h4 class="d-inline-block">{{ user.get_full_name|default:"Guest"}}</h4>
					<a href="" class="d-inline-block">
						(<small>Setting</small>)
					</a>
				</section>
				
				<section>
					<strong>Account Type: </strong>
					<small>
						{% if user.is_staff %}
							{{ user.is_superuser|yesno:"Admin, Staff"}}
						{% else %}
							Customer
						{% endif %}
					</small>
				</section>

				<section>
					<strong>Member Since: </strong>
					<small>
						{{ user.date_joined|date:"M d, Y"}}
					</small>
				</section>
				
				<section class="container-fluid">
					<strong class="row">USA Address:<br/></strong>	
					<small class="row p-3 rounded" style="position: relative; top: 15px; background: #df4957 !important; color: #fff;">
						<div class="col-1">
							<i class="fa fa-map-marker" style="position: relative; top: 5px"></i>
						</div>
						<div class="col-10">
							3750 W Oakland Park Blvd.,<br/>ITZ 210, Lauderdale Lakes,<br/>Florida 33311
						</div>
					</small>
				</section>
			</div>
		</div>
	</div>
	
{% endblock %}