{% extends 'base.html' %}
{% load static %}
{% block title %}About Us - {%endblock%}

{% block keywords %}

{% endblock %}

{% block description %}

{% endblock %}

{% block header %}
    {% include 'includes/header.html' %}
{% endblock %}

{% block content %}

<div class="container-fluid content-body">
	<div class="row vh-75">
		<div class="col my-auto">
			<section class="row my-5">
				<div class="col-md-6 offset-md-3">
					<img src="{% static 'media/plane.png' %}" alt="doctor" class="img-fluid">
				</div>
				<div class="col-12 my-4">
					<h2 class="text-center my-3">Our Story</h2>
                    <blockquote class="text-center">
                    	<h6 class="tagline px-5 py-2">
                    		"We promise to consistently provide to you our valued customer a fast efficient and reliable service."
                    	</h6>
                    </blockquote>
                    <p class="text-center"> 
                    	ShipEast Courier was established to provide a high class courier & shipping service to the parish of St. Thomas and neighboring parishes in Jamaica
                    </p>
                    
                    <h4 class="text-center mt-5 mb-3">Mission</h4>
                    <p class="text-center">{% lorem 15 w %}</p>

                    <h4 class="text-center mt-5 mb-3">Vision</h4>
                    <p class="text-center">{% lorem 15 w %}</p>

				</div>
			</section>
		</div>
	</div>
</div>
{% include 'includes/footer.html' %}
{% endblock %}