{% extends 'base.html' %}
{% load static %}
{% block title %}F.A.Q - {%endblock%}

{% block keywords %}

{% endblock %}

{% block description %}

{% endblock %}

{% block header %}
    {% include 'includes/header.html' %}
{% endblock %}

{% block content %}

<div class="container-fluid content-body">
	<div class="row vh-75">
		<div class="col my-auto">
			<section class="text-center">
			    <div class="container-fluid">
			        <div class="row my-2">
			            <h1 class="col text-center mt-5">HOW IT WORKS</h1>
			        </div>
			        <div class="row my-5">
			        	<div class="col">
			        		<img src="{% static 'media/works/signup.jpg' %}" class="img-fluid" alt="Responsive image">
			        		<h5 class="text-center mt-4">SIGNUP</h5>
			        		<p class="px-5">
			        			Get your free U.S. mailing address and unique customer mailbox ID# when you register with us.
			        		</p>
			        	</div>
			        	<div class="col">
			        		<img src="{% static 'media/works/online.jpg' %}" class="img-fluid" alt="Responsive image">
			        		<h5 class="text-center mt-4">SHOP ON YOUR FAVOURITE ONLINE STORE</h5>
			        		<p class="px-5">
			        			When you shop online, use the shipping address and your unique customer ID# given to you by us.
			        		</p>
			        	</div>
			        </div>
			        <div class="row my-5">
			        	
			        	<div class="col">
			        		<img src="{% static 'media/works/pack.jpeg' %}" class="img-fluid" alt="Responsive image">
			        		<h5 class="text-center mt-4">WE SHIP YOUR PACKAGE TO YOU IN JAMAICA</h5>
			        		<p class="px-5">
			        			As soon as we receive your package in the U.S., we will
                            notify you by email, and immediately process your package for freight to Jamaica.
			        		</p>
			        	</div>
			        	<div class="col">
			        		<img src="{% static 'media/works/drop.jpg' %}" class="img-fluid" alt="Responsive image">
			        		<h5 class="text-center mt-4">YOUR PACKAGE IS DELIVERED TO YOU PROMPTLY</h5>
			        		<p class="px-5">
			        			We will notify you as soon as your package arrives in the island, send you regular updates, and alert you when it's ready for delivery. 
			        		</p>
			        	</div>
			        </div>
			    </div>
			</section>
		</div>
	</div>
</div>
{% include 'includes/footer.html' %}	
{% endblock %}