{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block title %}Rates - {%endblock%}

{% block keywords %}

{% endblock %}

{% block description %}

{% endblock %}

{% block header %}
    {% include 'includes/header.html' %}
{% endblock %}

{% block content %}
<div class="container-fluid my-5">
	<div class="row px-1 px-lg-5 vh-25">
		<div class="col-12 mt-2 mb-5 text-center">
			<h1>Rates</h1>
			<h5>The more affordable prices islandwide</h5>
		</div>
		<div class="col-12 col-lg-6 my-auto">
			<table class="table table-borderless">
				<thead class="bg-danger">
					<tr class="text-center ">
						<th class="text-white">
							<h4>Weight</h4>
							<small>lbs/kg</small>
						</th>
						<th class="text-white">
							<h4>Cost</h4>
							<small>$USD</small>
						</th>
					</tr>
				</thead>
				<tbody>
					
					<tr class="text-center">
						<td>
							1 lb							
						</td>
						<td>
							$950
						</td>
						
					</tr>

					<tr class="text-center">
						<td>
							2 lbs							
						</td>
						<td>
							$1350
						</td>
						
					</tr>
											
					<tr class="text-center">
						<td>
							3 lbs							
						</td>
						<td>
							$1700							
						</td>
						
					</tr>

					<tr class="text-center">
						<td>
							4 lbs
						</td>
						<td>
							$2000
						</td>
						
					</tr>
											
					<tr class="text-center">
						<td>
							5 lbs
						</td>
						<td>
							$2100
						</td>
						
					</tr>
											
					<tr class="text-center">
						<td>
							6 lbs
						</td>
						<td>
							$2400
						</td>
						
					</tr>
											
					<tr class="text-center">
						<td>
							7 lbs
						</td>
						<td>
							$2500
						</td>
						
					</tr>
											
					<tr class="text-center">
						<td>
							8 lbs
						</td>
						<td>
							$2600
						</td>
						
					</tr>
											
					<tr class="text-center">
						<td>
							9 lbs
						</td>
						<td>
							$3000
						</td>
						
					</tr>
											
					<tr class="text-center">
						<td>
							10 lbs
						</td>
						<td>
							$3100
						</td>
						
					</tr>
											
					<tr class="text-center">
						<td>
							11 lbs
						</td>
						<td>
							$3300
						</td>
						
					</tr>
					<tr class="">
						<td>&emsp;</td>
						<td>&emsp;</td>
					</tr>
				</tbody>
			</table>			
		</div>
		<div class="col-12 col-lg-6">
			<table class="table table-borderless">
				<thead class="bg-danger">
					<tr class="text-center ">
						<th class="text-white">
							<h4>Weight</h4>
							<small>lbs/kg</small>
						</th>
						<th class="text-white">
							<h4>Cost</h4>
							<small>$USD</small>
						</th>
					</tr>
				</thead>
				<tbody>
					
					<tr class="text-center">
						
						<td>
							12 lbs							
						</td>
						<td>
							$3500
						</td>
						
					</tr>

					<tr class="text-center">
						<td>
							13 lbs							
						</td>
						<td>
							$3700
						</td>
						
					</tr>
											
					<tr class="text-center">
						<td>
							14 lbs							
						</td>
						<td>
							$3900							
						</td>
						
					</tr>

					<tr class="text-center">
						<td>
							15 lbs
						</td>
						<td>
							$4100
						</td>
						
					</tr>
											
					<tr class="text-center">
						<td>
							16 lbs
						</td>
						<td>
							$4700
						</td>
						
					</tr>
											
					<tr class="text-center">
						<td>
							17 lbs
						</td>
						<td>
							$4900
						</td>
						
					</tr>
											
					<tr class="text-center">
						<td>
							18 lbs
						</td>
						<td>
							$5100
						</td>
						
					</tr>
											
					<tr class="text-center">
						<td>
							19 lbs
						</td>
						<td>
							$5300
						</td>
						
					</tr>
											
					<tr class="text-center">
						<td>
							20 lbs
						</td>
						<td>
							$5500
						</td>
						
					</tr>
											
					<tr class="text-center">
						<td>
							21 lbs
						</td>
						<td>
							$6700
						</td>
						
					</tr>
											
					<tr class="text-center">
						<td>
							22 lbs
						</td>
						<td>
							$6900
						</td>
						
					</tr>
					<tr class="text-center">
						<td>
							23 lbs
						</td>
						<td>
							$7100
						</td>
						
					</tr>
				</tbody>
			</table>			
		</div>

	</div>
</div>	
{% endblock %}