{% extends 'base.html' %}

{% block title %}Services - {%endblock%}

{% block keywords %}

{% endblock %}

{% block description %}

{% endblock %}

{% block header %}
    {% include 'includes/header.html' %}
{% endblock %}

{% block content %}

<div class="container-fluid content-body">
	<div class="row vh-75">
		<div class="col my-auto">
			<section class="text-center mt-5 mt-lg-2">
				<h3>
					Provided Services</span>
            	</h3>
            	<p>
            		Our service is quick, effecient and reliable from we receive your package at<br/>our warehouse
                location to its delivery to you here in Jamaica
            	</p>
			</section>
			<section class="container px-5 my-3">
				<div class="row mt-5">
                    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                        <div class="single-service-three wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <div class="service-icon-three text-center"><i class="text-danger fa fa-truck fa-4x"></i></div>
                            <h4 class="text-center my-2">Road Freight</h4>
                            <p class="text-justify">Pickup and drop-off of small and medium items via bike courier in St. Thomas and Kingston. Knutsford Express drop off and pickup of items sent and received via the Knutsford Express locations. Errands for persons in St. Thomas including food delivery, grocery shopping, pharmacy purchases, tax office payments, auto parts delivery</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                        <div class="single-service-three wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                            <div class="service-icon-three text-center"><i class="text-danger fa fa-plane fa-4x"></i></div>
                            <h4 class="text-center my-2">Air Freight</h4>
                            <p class="text-justify">Shop online and ship your items to our Florida, USA address and we will have them transported to Jamaica where you will pick them up at our store location or we will deliver to you</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                        <div class="single-service-three wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="service-icon-three text-center"><i class="text-danger fa fa-ship fa-4x"></i></div>
                            <h4 class="text-center my-2">Sea Freight</h4>
                            <p class="text-justify">Shop online and ship large items to our warehouse and we will transport them via the sea at an affordable cost including barrels and large products.</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                        <div class="single-service-three wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="service-icon-three text-center"><i class="text-danger fa fa-credit-card fa-4x"></i></div>
                            <h4 class="text-center my-2">US credit card</h4>
                            <p class="text-justify">Don't have a credit card? No worries use our credit card for your online purchases and it will never be declined.</p>
                        </div>
                    </div>

                </div>

			</section>
		</div>
	</div>
</div>
{% include 'includes/footer.html' %}	
{% endblock %}