{% extends 'base.html' %}

{% block title %}Services - {%endblock%}

{% block keywords %}

{% endblock %}

{% block description %}

{% endblock %}

{% block header %}
    {% include 'includes/header.html' %}
{% endblock %}

{% block content %}

<div class="container-fluid content-body">
	<div class="row vh-75">
		<div class="col my-auto">
			<section class="text-center mt-5 mt-lg-2">
				<h3>
					Provided Services</span>
            	</h3>
            	<p>
            		Our service is quick, effecient and reliable from we receive your package at<br/>our warehouse
                location to its delivery to you here in Jamaica
            	</p>
			</section>
			<section class="container px-5 my-3">
				<div class="row mt-5">
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="single-service-three wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="service-icon-three text-center"><i class="fa fa-truck fa-4x"></i></div>
                        <h4 class="text-center my-2">Road Freight</h4>
                        <p class="text-justify">{% lorem 15 w%}</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="single-service-three wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="service-icon-three text-center"><i class="fa fa-plane fa-4x"></i></div>
                        <h4 class="text-center my-2">Air Freight</h4>
                        <p class="text-justify">{% lorem 15 w%}</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="single-service-three wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="service-icon-three text-center"><i class="fa fa-ship fa-4x"></i></div>
                        <h4 class="text-center my-2">Sea Freight</h4>
                        <p class="text-justify">{% lorem 15 w%}</p>
                    </div>
                </div>
            </div>
			</section>
		</div>
	</div>
</div>
{% include 'includes/footer.html' %}	
{% endblock %}