{% extends 'base.html' %}

{% block title %}Track Parcel - {%endblock%}

{% block keywords %}

{% endblock %}

{% block description %}

{% endblock %}

{% block header %}
    {% include 'includes/header.html' %}
{% endblock %}

{% block content %}

<div class="container-fluid">
	
	<div class="row" style="height: 75vh;">
		<div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4 my-auto">
			<section class="my-3">
				<h5 class="">Track your parcel</h5>
				<small>Start tracking your parcel by entering your tracking ID in the box above.</small>
			</section>
			<form method="post">
				{% csrf_token %}
				<div class="form-group">
					<div class="input-group">
						<input name="tracking_code" class="form-control" type="text" value="{{ track_no }}" placeholder="Enter your tracking ID">
						<div class="input-group-append">
							<button type="submit" class="btn btn-outline-danger btn-sm">
								<i data-feather="search"></i>
							</button>
						</div>
					</div>
				</div>
			</form>

			<section class="mt-5">
				
					{% for trackinfo in itrack %}
						Latest status: <p>
						{% if trackinfo.parcel_status == 'pickup' %}
							{{ trackinfo.date_shipped }}&emsp;&emsp;Picked Up by  {{ trackinfo.courier }}
						{% elif  trackinfo.parcel_status == 'on process' %}
							Your Parcel is in transit
						{% elif  trackinfo.parcel_status == 'on delivery' %}
							We will deliver your package
						{% endif %}
						</p>
					{% empty %}
						{% if trackno %}
						We could not find your parcel. The tracking ID is invalid. Please check if you entered the tracking ID correctly.
						{% endif %}

					{% endfor %}
	
			</section>
		</div>
	</div>
</div>
{% include 'includes/footer.html' %}
{% endblock %}